{% extends "base.html" %}

{% block content %}
  {% for expense in expenses %}
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs 12">
        <h2>
          <a href="{{ url_for('expenses.detail', expense_time=expense.expense_time) }}">{{ expense.expense_time.strftime('%Y-%m-%d') }}</a>
        </h2>
        <p>{{ expense.expense_time }}</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs 12">
        <h1>{{ expense.expense_category }}</h1>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs 12">
        <h1>{{ expense.expense_amount }} Rs</h1>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs 12">
        {% if expense.expense_remarks %}
          <h3>{{ expense.expense_remarks }}</h3>
        {% endif %}
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
